In [3]:
import pandas as pd

df = pd.read_csv('dataset.csv')
print (df.head())

                   Nombres          Telefonos  Salario       Pesos    Alturas  \
0              Linda Garza  +29 (768)624-2270  992.830  217.77 lbs    5.68 ft
1             Shawn Walton         7222428589  431,926    60.67 kg  177.90 cm
2                Briana Le    318.938.8422x37  909,293    88.51 kg  156.65 cm
3  Dr. Joseph Davidson Jr.      (809)206-1483  589,451    83.42 kg  171.96 cm
4             Maria Murphy    (420)689-5028x5  347,991    73.92 kg  169.94 cm

                  Nacionalidades Grupo Sanguineos Fechas de Nacimiento
0  Holy See (Vatican City State)               A+           1986-03-21
1                         Latvia               B+  12/02/1970 21:02:48
2                        Iceland              AB-                  NaN
3                     Cape Verde               O+  01/11/1987 09:26:58
4                            NaN              AB-  06/12/1967 16:23:32

In [9]:
print (df['Nombres'].isnull().sum())

15

In [11]:
print (df.describe())

              Nombres          Telefonos  Salario     Pesos    Alturas  \
count             285                285      285       285        285
unique            284                285      285       278        272
top     Crystal Smith  +29 (768)624-2270  992.830  96.19 kg  165.97 cm
freq                2                  1        1         2          2

       Nacionalidades Grupo Sanguineos Fechas de Nacimiento
count             285              285                  285
unique            172                8                  285
top        Cape Verde              AB+           1986-03-21
freq                5               42                    1

In [13]:
from scipy import stats
z_scores = stats.zscore(df.select_dtypes(include=['float64','int64']))
abs_z_scores = abs(z_scores)
outliers = (abs_z_scores > 3).all(axis=1)
print (df[outliers])

                     Nombres          Telefonos  Salario       Pesos  \
0                Linda Garza  +29 (768)624-2270  992.830  217.77 lbs
1               Shawn Walton         7222428589  431,926    60.67 kg
2                  Briana Le    318.938.8422x37  909,293    88.51 kg
3    Dr. Joseph Davidson Jr.      (809)206-1483  589,451    83.42 kg
4               Maria Murphy    (420)689-5028x5  347,991    73.92 kg
..                       ...                ...      ...         ...
295               David Cole    (892)329-3719x2  988,152    75.35 kg
296           Carrie Bridges    711-845-5565x22  251,907    69.86 kg
297         Danielle Serrano       822.478.1197  367,140    85.60 kg
298             Alice Barnes       793.353.9547  948,832    54.15 kg
299            Nathan Barker         4779994353  380,205    61.43 kg

       Alturas                 Nacionalidades Grupo Sanguineos  \
0      5.68 ft  Holy See (Vatican City State)               A+
1    177.90 cm                         Latvia               B+
2    156.65 cm                        Iceland              AB-
3    171.96 cm                     Cape Verde               O+
4    169.94 cm                            NaN              AB-
..         ...                            ...              ...
295        NaN                        Andorra              NaN
296        NaN                          Korea               A-
297  159.23 cm                          Congo               B-
298  169.53 cm                          China               A+
299  176.78 cm                       Dominica               O-

    Fechas de Nacimiento
0             1986-03-21
1    12/02/1970 21:02:48
2                    NaN
3    01/11/1987 09:26:58
4    06/12/1967 16:23:32
..                   ...
295  03/11/1998 22:29:33
296  18/02/1958 15:44:00
297  13/02/1960 06:57:10
298  06/12/1957 23:07:56
299  11/09/1959 03:23:29

[300 rows x 8 columns]

In [57]:
df['es_kg'] = df['Pesos'].str.replace('kg','')
df['lbs'] = df['Pesos'].str.extract(r'(lbs)', expand=False)
df['sinlbs'] = df['Pesos'].str.replace('lbs','')
df['convert'] = df[df['Pesos'].str.replace('lbs','')+10]
print (df)

TypeError: can only concatenate str (not "int") to str