# Crear una base de datos con los datos conocidos

In [35]:
from dotenv import dotenv_values
secrets = dotenv_values("../.env")
for s in secrets:
    print (f'{s}:{secrets[s]}')

SQL_SERVER:nhcursosdbserver.database.windows.net
SQL_DATABASE:nhcursosdb
SQL_USER:mfrchg
SQL_PWD:Asdf12345678#
SQL_CS:mssql+pyodbc://mfrchg:Asdf12345678#@nhcursosdbserver.database.windows.net/nhcursosdb?driver=ODBC+Driver+17+for+SQL+Server

In [148]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import os

# Configurar SQL Alchemy
#connection_string = "Driver={SQL Server};Server=tcp:yourserver.database.windows.net,1433;Database=yourdb;Uid=yourusername;Pwd=yourpassword;"
cs = f'mssql+pyodbc://{secrets["SQL_USER"]}:{secrets["SQL_PWD"]}@{secrets["SQL_SERVER"]}/{secrets["SQL_DATABASE"]}?driver=ODBC+Driver+17+for+SQL+Server'
sqlite_engine = create_engine(cs)
path = '.'
df_unificado = pd.DataFrame()
lista_archivos = ['dataset.csv','data.csv','datapersonas.csv']
time_now = datetime.now().strftime('%Y%m%dT%H%M%S')
for file in lista_archivos:
    data = pd.read_csv(os.path.join(path,file))
    data['Fuente'] = file
    data['HoraCarga'] = time_now
    df_unificado = pd.concat([df_unificado,data]) # metodo que concatena la informacion
print(df_unificado.info())
# Guardar en BD
df_unificado['id'] = range(len(df_unificado))
df_unificado.to_sql('personas2',sqlite_engine, if_exists='replace', index=False)
print ('Datos enviados al a BD')

<class 'pandas.core.frame.DataFrame'>
Index: 592 entries, 0 to 287
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nombres               285 non-null    object
 1   Telefonos             285 non-null    object
 2   Salario               285 non-null    object
 3   Pesos                 285 non-null    object
 4   Alturas               285 non-null    object
 5   Nacionalidades        285 non-null    object
 6   Grupo Sanguineos      285 non-null    object
 7   Fechas de Nacimiento  285 non-null    object
 8   Fuente                592 non-null    object
 9   HoraCarga             592 non-null    object
 10  Name                  291 non-null    object
 11  Age                   291 non-null    float64
 12  Height                291 non-null    float64
 13  Weight                292 non-null    float64
dtypes: float64(3), object(11)
memory usage: 69.4+ KB
None
Datos enviados al a BD

# Consultas

In [158]:
from sqlalchemy import create_engine, Column, Integer, String, Float 
from sqlalchemy.orm import declarative_base, sessionmaker

# Crear una base declarativa
Base = declarative_base()

# Definir el modelo
class Item(Base):
    __tablename__ = 'Personas'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Float)

# Crear un motor de base de datos
engine = create_engine(secrets["SQL_CS"])

# Crear las tablas en la base de datos
Base.metadata.create_all(engine)

# Crear una sesiÃ³n
Session = sessionmaker(bind=engine)
session = Session()
print ("ok")

ok

In [160]:
# Obtener todos los elementos
items = session.query(Item).all()
for item in items:
    print(f"ID: {item.id}, Name: {item.name}, Price: {item.age}")

# Obtener un elemento por ID
item = session.query(Item).get(1)
print(f"ID: {item.id}, Name: {item.name}, Price: {item.age}")

# Filtrar elementos por atributo
items = session.query(Item).filter(Item.age > 10).all()
for item in items:
    print(f"ID: {item.id}, Name: {item.name}, Price: {item.age}")

# Actualizar un elemento
item = session.get(Item,1)
item.age = 1200.0
session.commit()

# Eliminar un elemento
item = session.get(Item,(session.query(Item).order_by(Item.id.desc()).first()).id)
session.delete(item)
session.commit()

ID: 0, Name: None, Price: None
ID: 1, Name: None, Price: 1200.0
ID: 3, Name: None, Price: None
ID: 4, Name: None, Price: None
ID: 5, Name: None, Price: None
ID: 6, Name: None, Price: None
ID: 7, Name: None, Price: None
ID: 8, Name: None, Price: None
ID: 9, Name: None, Price: None
ID: 10, Name: None, Price: None
ID: 11, Name: None, Price: None
ID: 12, Name: None, Price: None
ID: 13, Name: None, Price: None
ID: 14, Name: None, Price: None
ID: 15, Name: None, Price: None
ID: 16, Name: None, Price: None
ID: 17, Name: None, Price: None
ID: 18, Name: None, Price: None
ID: 19, Name: None, Price: None
ID: 20, Name: None, Price: None
ID: 21, Name: None, Price: None
ID: 22, Name: None, Price: None
ID: 23, Name: None, Price: None
ID: 24, Name: None, Price: None
ID: 25, Name: None, Price: None
ID: 26, Name: None, Price: None
ID: 27, Name: None, Price: None
ID: 28, Name: None, Price: None
ID: 29, Name: None, Price: None
ID: 30, Name: None, Price: None
ID: 31, Name: None, Price: None
ID: 32, Name: None, Price: None
ID: 33, Name: None, Price: None
ID: 34, Name: None, Price: None
ID: 35, Name: None, Price: None
ID: 36, Name: None, Price: None
ID: 37, Name: None, Price: None
ID: 38, Name: None, Price: None
ID: 39, Name: None, Price: None
ID: 40, Name: None, Price: None
ID: 41, Name: None, Price: None
ID: 42, Name: None, Price: None
ID: 43, Name: None, Price: None
ID: 44, Name: None, Price: None
ID: 45, Name: None, Price: None
ID: 46, Name: None, Price: None
ID: 47, Name: None, Price: None
ID: 48, Name: None, Price: None
ID: 49, Name: None, Price: None
ID: 50, Name: None, Price: None
ID: 51, Name: None, Price: None
ID: 52, Name: None, Price: None
ID: 53, Name: None, Price: None
ID: 54, Name: None, Price: None
ID: 55, Name: None, Price: None
ID: 56, Name: None, Price: None
ID: 57, Name: None, Price: None
ID: 58, Name: None, Price: None
ID: 59, Name: None, Price: None
ID: 60, Name: None, Price: None
ID: 61, Name: None, Price: None
ID: 62, Name: None, Price: None
ID: 63, Name: None, Price: None
ID: 64, Name: None, Price: None
ID: 65, Name: None, Price: None
ID: 66, Name: None, Price: None
ID: 67, Name: None, Price: None
ID: 68, Name: None, Price: None
ID: 69, Name: None, Price: None
ID: 70, Name: None, Price: None
ID: 71, Name: None, Price: None
ID: 72, Name: None, Price: None
ID: 73, Name: None, Price: None
ID: 74, Name: None, Price: None
ID: 75, Name: None, Price: None
ID: 76, Name: None, Price: None
ID: 77, Name: None, Price: None
ID: 78, Name: None, Price: None
ID: 79, Name: None, Price: None
ID: 80, Name: None, Price: None
ID: 81, Name: None, Price: None
ID: 82, Name: None, Price: None
ID: 83, Name: None, Price: None
ID: 84, Name: None, Price: None
ID: 85, Name: None, Price: None
ID: 86, Name: None, Price: None
ID: 87, Name: None, Price: None
ID: 88, Name: None, Price: None
ID: 89, Name: None, Price: None
ID: 90, Name: None, Price: None
ID: 91, Name: None, Price: None
ID: 92, Name: None, Price: None
ID: 93, Name: None, Price: None
ID: 94, Name: None, Price: None
ID: 95, Name: None, Price: None
ID: 96, Name: None, Price: None
ID: 97, Name: None, Price: None
ID: 98, Name: None, Price: None
ID: 99, Name: None, Price: None
ID: 100, Name: None, Price: None
ID: 101, Name: None, Price: None
ID: 102, Name: None, Price: None
ID: 103, Name: None, Price: None
ID: 104, Name: None, Price: None
ID: 105, Name: None, Price: None
ID: 106, Name: None, Price: None
ID: 107, Name: None, Price: None
ID: 108, Name: None, Price: None
ID: 109, Name: None, Price: None
ID: 110, Name: None, Price: None
ID: 111, Name: None, Price: None
ID: 112, Name: None, Price: None
ID: 113, Name: None, Price: None
ID: 114, Name: None, Price: None
ID: 115, Name: None, Price: None
ID: 116, Name: None, Price: None
ID: 117, Name: None, Price: None
ID: 118, Name: None, Price: None
ID: 119, Name: None, Price: None
ID: 120, Name: None, Price: None
ID: 121, Name: None, Price: None
ID: 122, Name: None, Price: None
ID: 123, Name: None, Price: None
ID: 124, Name: None, Price: None
ID: 125, Name: None, Price: None
ID: 126, Name: None, Price: None
ID: 127, Name: None, Price: None
ID: 128, Name: None, Price: None
ID: 129, Name: None, Price: None
ID: 130, Name: None, Price: None
ID: 131, Name: None, Price: None
ID: 132, Name: None, Price: None
ID: 133, Name: None, Price: None
ID: 134, Name: None, Price: None
ID: 135, Name: None, Price: None
ID: 136, Name: None, Price: None
ID: 137, Name: None, Price: None
ID: 138, Name: None, Price: None
ID: 139, Name: None, Price: None
ID: 140, Name: None, Price: None
ID: 141, Name: None, Price: None
ID: 142, Name: None, Price: None
ID: 143, Name: None, Price: None
ID: 144, Name: None, Price: None
ID: 145, Name: None, Price: None
ID: 146, Name: None, Price: None
ID: 147, Name: None, Price: None
ID: 148, Name: None, Price: None
ID: 149, Name: None, Price: None
ID: 150, Name: None, Price: None
ID: 151, Name: None, Price: None
ID: 152, Name: None, Price: None
ID: 153, Name: None, Price: None
ID: 154, Name: None, Price: None
ID: 155, Name: None, Price: None
ID: 156, Name: None, Price: None
ID: 157, Name: None, Price: None
ID: 158, Name: None, Price: None
ID: 159, Name: None, Price: None
ID: 160, Name: None, Price: None
ID: 161, Name: None, Price: None
ID: 162, Name: None, Price: None
ID: 163, Name: None, Price: None
ID: 164, Name: None, Price: None
ID: 165, Name: None, Price: None
ID: 166, Name: None, Price: None
ID: 167, Name: None, Price: None
ID: 168, Name: None, Price: None
ID: 169, Name: None, Price: None
ID: 170, Name: None, Price: None
ID: 171, Name: None, Price: None
ID: 172, Name: None, Price: None
ID: 173, Name: None, Price: None
ID: 174, Name: None, Price: None
ID: 175, Name: None, Price: None
ID: 176, Name: None, Price: None
ID: 177, Name: None, Price: None
ID: 178, Name: None, Price: None
ID: 179, Name: None, Price: None
ID: 180, Name: None, Price: None
ID: 181, Name: None, Price: None
ID: 182, Name: None, Price: None
ID: 183, Name: None, Price: None
ID: 184, Name: None, Price: None
ID: 185, Name: None, Price: None
ID: 186, Name: None, Price: None
ID: 187, Name: None, Price: None
ID: 188, Name: None, Price: None
ID: 189, Name: None, Price: None
ID: 190, Name: None, Price: None
ID: 191, Name: None, Price: None
ID: 192, Name: None, Price: None
ID: 193, Name: None, Price: None
ID: 194, Name: None, Price: None
ID: 195, Name: None, Price: None
ID: 196, Name: None, Price: None
ID: 197, Name: None, Price: None
ID: 198, Name: None, Price: None
ID: 199, Name: None, Price: None
ID: 200, Name: None, Price: None
ID: 201, Name: None, Price: None
ID: 202, Name: None, Price: None
ID: 203, Name: None, Price: None
ID: 204, Name: None, Price: None
ID: 205, Name: None, Price: None
ID: 206, Name: None, Price: None
ID: 207, Name: None, Price: None
ID: 208, Name: None, Price: None
ID: 209, Name: None, Price: None
ID: 210, Name: None, Price: None
ID: 211, Name: None, Price: None
ID: 212, Name: None, Price: None
ID: 213, Name: None, Price: None
ID: 214, Name: None, Price: None
ID: 215, Name: None, Price: None
ID: 216, Name: None, Price: None
ID: 217, Name: None, Price: None
ID: 218, Name: None, Price: None
ID: 219, Name: None, Price: None
ID: 220, Name: None, Price: None
ID: 221, Name: None, Price: None
ID: 222, Name: None, Price: None
ID: 223, Name: None, Price: None
ID: 224, Name: None, Price: None
ID: 225, Name: None, Price: None
ID: 226, Name: None, Price: None
ID: 227, Name: None, Price: None
ID: 228, Name: None, Price: None
ID: 229, Name: None, Price: None
ID: 230, Name: None, Price: None
ID: 231, Name: None, Price: None
ID: 232, Name: None, Price: None
ID: 233, Name: None, Price: None
ID: 234, Name: None, Price: None
ID: 235, Name: None, Price: None
ID: 236, Name: None, Price: None
ID: 237, Name: None, Price: None
ID: 238, Name: None, Price: None
ID: 239, Name: None, Price: None
ID: 240, Name: None, Price: None
ID: 241, Name: None, Price: None
ID: 242, Name: None, Price: None
ID: 243, Name: None, Price: None
ID: 244, Name: None, Price: None
ID: 245, Name: None, Price: None
ID: 246, Name: None, Price: None
ID: 247, Name: None, Price: None
ID: 248, Name: None, Price: None
ID: 249, Name: None, Price: None
ID: 250, Name: None, Price: None
ID: 251, Name: None, Price: None
ID: 252, Name: None, Price: None
ID: 253, Name: None, Price: None
ID: 254, Name: None, Price: None
ID: 255, Name: None, Price: None
ID: 256, Name: None, Price: None
ID: 257, Name: None, Price: None
ID: 258, Name: None, Price: None
ID: 259, Name: None, Price: None
ID: 260, Name: None, Price: None
ID: 261, Name: None, Price: None
ID: 262, Name: None, Price: None
ID: 263, Name: None, Price: None
ID: 264, Name: None, Price: None
ID: 265, Name: None, Price: None
ID: 266, Name: None, Price: None
ID: 267, Name: None, Price: None
ID: 268, Name: None, Price: None
ID: 269, Name: None, Price: None
ID: 270, Name: None, Price: None
ID: 271, Name: None, Price: None
ID: 272, Name: None, Price: None
ID: 273, Name: None, Price: None
ID: 274, Name: None, Price: None
ID: 275, Name: None, Price: None
ID: 276, Name: None, Price: None
ID: 277, Name: None, Price: None
ID: 278, Name: None, Price: None
ID: 279, Name: None, Price: None
ID: 280, Name: None, Price: None
ID: 281, Name: None, Price: None
ID: 282, Name: None, Price: None
ID: 283, Name: None, Price: None
ID: 284, Name: None, Price: None
ID: 285, Name: None, Price: None
ID: 286, Name: None, Price: None
ID: 287, Name: None, Price: None
ID: 288, Name: None, Price: None
ID: 289, Name: None, Price: None
ID: 290, Name: None, Price: None
ID: 291, Name: None, Price: None
ID: 292, Name: None, Price: None
ID: 293, Name: None, Price: None
ID: 294, Name: None, Price: None
ID: 295, Name: None, Price: None
ID: 296, Name: None, Price: None
ID: 297, Name: None, Price: None
ID: 298, Name: None, Price: None
ID: 299, Name: None, Price: None
ID: 300, Name: Alicia, Price: 28.0
ID: 301, Name: None, Price: 24.0
ID: 302, Name: Julio, Price: 30.0
ID: 303, Name: Ronny, Price: None
ID: 304, Name: John, Price: 28.0
ID: 305, Name: Alice, Price: 24.0
ID: 306, Name: Bob, Price: 30.0
ID: 307, Name: Diana, Price: 22.0
ID: 308, Name: John, Price: 28.0
ID: 309, Name: Alice, Price: 24.0
ID: 310, Name: Bob, Price: 30.0
ID: 311, Name: Diana, Price: 22.0
ID: 312, Name: John, Price: 28.0
ID: 313, Name: Alice, Price: 24.0
ID: 314, Name: Bob, Price: 30.0
ID: 315, Name: Diana, Price: 22.0
ID: 316, Name: John, Price: 28.0
ID: 317, Name: Alice, Price: 24.0
ID: 318, Name: Bob, Price: 30.0
ID: 319, Name: Diana, Price: 22.0
ID: 320, Name: John, Price: 28.0
ID: 321, Name: Alice, Price: 24.0
ID: 322, Name: Bob, Price: 30.0
ID: 323, Name: Diana, Price: 22.0
ID: 324, Name: John, Price: 28.0
ID: 325, Name: Alice, Price: 24.0
ID: 326, Name: Bob, Price: 30.0
ID: 327, Name: Diana, Price: 22.0
ID: 328, Name: John, Price: 28.0
ID: 329, Name: Alice, Price: 24.0
ID: 330, Name: Bob, Price: 30.0
ID: 331, Name: Diana, Price: 22.0
ID: 332, Name: John, Price: 28.0
ID: 333, Name: Alice, Price: 24.0
ID: 334, Name: Bob, Price: 30.0
ID: 335, Name: Diana, Price: 22.0
ID: 336, Name: John, Price: 28.0
ID: 337, Name: Alice, Price: 24.0
ID: 338, Name: Bob, Price: 30.0
ID: 339, Name: Diana, Price: 22.0
ID: 340, Name: John, Price: 28.0
ID: 341, Name: Alice, Price: 24.0
ID: 342, Name: Bob, Price: 30.0
ID: 343, Name: Diana, Price: 22.0
ID: 344, Name: John, Price: 28.0
ID: 345, Name: Alice, Price: 24.0
ID: 346, Name: Bob, Price: 30.0
ID: 347, Name: Diana, Price: 22.0
ID: 348, Name: John, Price: 28.0
ID: 349, Name: Alice, Price: 24.0
ID: 350, Name: Bob, Price: 30.0
ID: 351, Name: Diana, Price: 22.0
ID: 352, Name: John, Price: 28.0
ID: 353, Name: Alice, Price: 24.0
ID: 354, Name: Bob, Price: 30.0
ID: 355, Name: Diana, Price: 22.0
ID: 356, Name: John, Price: 28.0
ID: 357, Name: Alice, Price: 24.0
ID: 358, Name: Bob, Price: 30.0
ID: 359, Name: Diana, Price: 22.0
ID: 360, Name: John, Price: 28.0
ID: 361, Name: Alice, Price: 24.0
ID: 362, Name: Bob, Price: 30.0
ID: 363, Name: Diana, Price: 22.0
ID: 364, Name: John, Price: 28.0
ID: 365, Name: Alice, Price: 24.0
ID: 366, Name: Bob, Price: 30.0
ID: 367, Name: Diana, Price: 22.0
ID: 368, Name: John, Price: 28.0
ID: 369, Name: Alice, Price: 24.0
ID: 370, Name: Bob, Price: 30.0
ID: 371, Name: Diana, Price: 22.0
ID: 372, Name: John, Price: 28.0
ID: 373, Name: Alice, Price: 24.0
ID: 374, Name: Bob, Price: 30.0
ID: 375, Name: Diana, Price: 22.0
ID: 376, Name: John, Price: 28.0
ID: 377, Name: Alice, Price: 24.0
ID: 378, Name: Bob, Price: 30.0
ID: 379, Name: Diana, Price: 22.0
ID: 380, Name: John, Price: 28.0
ID: 381, Name: Alice, Price: 24.0
ID: 382, Name: Bob, Price: 30.0
ID: 383, Name: Diana, Price: 22.0
ID: 384, Name: John, Price: 28.0
ID: 385, Name: Alice, Price: 24.0
ID: 386, Name: Bob, Price: 30.0
ID: 387, Name: Diana, Price: 22.0
ID: 388, Name: John, Price: 28.0
ID: 389, Name: Alice, Price: 24.0
ID: 390, Name: Bob, Price: 30.0
ID: 391, Name: Diana, Price: 22.0
ID: 392, Name: John, Price: 28.0
ID: 393, Name: Alice, Price: 24.0
ID: 394, Name: Bob, Price: 30.0
ID: 395, Name: Diana, Price: 22.0
ID: 396, Name: John, Price: 28.0
ID: 397, Name: Alice, Price: 24.0
ID: 398, Name: Bob, Price: 30.0
ID: 399, Name: Diana, Price: 22.0
ID: 400, Name: John, Price: 28.0
ID: 401, Name: Alice, Price: 24.0
ID: 402, Name: Bob, Price: 30.0
ID: 403, Name: Diana, Price: 22.0
ID: 404, Name: John, Price: 28.0
ID: 405, Name: Alice, Price: 24.0
ID: 406, Name: Bob, Price: 30.0
ID: 407, Name: Diana, Price: 22.0
ID: 408, Name: John, Price: 28.0
ID: 409, Name: Alice, Price: 24.0
ID: 410, Name: Bob, Price: 30.0
ID: 411, Name: Diana, Price: 22.0
ID: 412, Name: John, Price: 28.0
ID: 413, Name: Alice, Price: 24.0
ID: 414, Name: Bob, Price: 30.0
ID: 415, Name: Diana, Price: 22.0
ID: 416, Name: John, Price: 28.0
ID: 417, Name: Alice, Price: 24.0
ID: 418, Name: Bob, Price: 30.0
ID: 419, Name: Diana, Price: 22.0
ID: 420, Name: John, Price: 28.0
ID: 421, Name: Alice, Price: 24.0
ID: 422, Name: Bob, Price: 30.0
ID: 423, Name: Diana, Price: 22.0
ID: 424, Name: John, Price: 28.0
ID: 425, Name: Alice, Price: 24.0
ID: 426, Name: Bob, Price: 30.0
ID: 427, Name: Diana, Price: 22.0
ID: 428, Name: John, Price: 28.0
ID: 429, Name: Alice, Price: 24.0
ID: 430, Name: Bob, Price: 30.0
ID: 431, Name: Diana, Price: 22.0
ID: 432, Name: John, Price: 28.0
ID: 433, Name: Alice, Price: 24.0
ID: 434, Name: Bob, Price: 30.0
ID: 435, Name: Diana, Price: 22.0
ID: 436, Name: John, Price: 28.0
ID: 437, Name: Alice, Price: 24.0
ID: 438, Name: Bob, Price: 30.0
ID: 439, Name: Diana, Price: 22.0
ID: 440, Name: John, Price: 28.0
ID: 441, Name: Alice, Price: 24.0
ID: 442, Name: Bob, Price: 30.0
ID: 443, Name: Diana, Price: 22.0
ID: 444, Name: John, Price: 28.0
ID: 445, Name: Alice, Price: 24.0
ID: 446, Name: Bob, Price: 30.0
ID: 447, Name: Diana, Price: 22.0
ID: 448, Name: John, Price: 28.0
ID: 449, Name: Alice, Price: 24.0
ID: 450, Name: Bob, Price: 30.0
ID: 451, Name: Diana, Price: 22.0
ID: 452, Name: John, Price: 28.0
ID: 453, Name: Alice, Price: 24.0
ID: 454, Name: Bob, Price: 30.0
ID: 455, Name: Diana, Price: 22.0
ID: 456, Name: John, Price: 28.0
ID: 457, Name: Alice, Price: 24.0
ID: 458, Name: Bob, Price: 30.0
ID: 459, Name: Diana, Price: 22.0
ID: 460, Name: John, Price: 28.0
ID: 461, Name: Alice, Price: 24.0
ID: 462, Name: Bob, Price: 30.0
ID: 463, Name: Diana, Price: 22.0
ID: 464, Name: John, Price: 28.0
ID: 465, Name: Alice, Price: 24.0
ID: 466, Name: Bob, Price: 30.0
ID: 467, Name: Diana, Price: 22.0
ID: 468, Name: John, Price: 28.0
ID: 469, Name: Alice, Price: 24.0
ID: 470, Name: Bob, Price: 30.0
ID: 471, Name: Diana, Price: 22.0
ID: 472, Name: John, Price: 28.0
ID: 473, Name: Alice, Price: 24.0
ID: 474, Name: Bob, Price: 30.0
ID: 475, Name: Diana, Price: 22.0
ID: 476, Name: John, Price: 28.0
ID: 477, Name: Alice, Price: 24.0
ID: 478, Name: Bob, Price: 30.0
ID: 479, Name: Diana, Price: 22.0
ID: 480, Name: John, Price: 28.0
ID: 481, Name: Alice, Price: 24.0
ID: 482, Name: Bob, Price: 30.0
ID: 483, Name: Diana, Price: 22.0
ID: 484, Name: John, Price: 28.0
ID: 485, Name: Alice, Price: 24.0
ID: 486, Name: Bob, Price: 30.0
ID: 487, Name: Diana, Price: 22.0
ID: 488, Name: John, Price: 28.0
ID: 489, Name: Alice, Price: 24.0
ID: 490, Name: Bob, Price: 30.0
ID: 491, Name: Diana, Price: 22.0
ID: 492, Name: John, Price: 28.0
ID: 493, Name: Alice, Price: 24.0
ID: 494, Name: Bob, Price: 30.0
ID: 495, Name: Diana, Price: 22.0
ID: 496, Name: John, Price: 28.0
ID: 497, Name: Alice, Price: 24.0
ID: 498, Name: Bob, Price: 30.0
ID: 499, Name: Diana, Price: 22.0
ID: 500, Name: John, Price: 28.0
ID: 501, Name: Alice, Price: 24.0
ID: 502, Name: Bob, Price: 30.0
ID: 503, Name: Diana, Price: 22.0
ID: 504, Name: John, Price: 28.0
ID: 505, Name: Alice, Price: 24.0
ID: 506, Name: Bob, Price: 30.0
ID: 507, Name: Diana, Price: 22.0
ID: 508, Name: John, Price: 28.0
ID: 509, Name: Alice, Price: 24.0
ID: 510, Name: Bob, Price: 30.0
ID: 511, Name: Diana, Price: 22.0
ID: 512, Name: John, Price: 28.0
ID: 513, Name: Alice, Price: 24.0
ID: 514, Name: Bob, Price: 30.0
ID: 515, Name: Diana, Price: 22.0
ID: 516, Name: John, Price: 28.0
ID: 517, Name: Alice, Price: 24.0
ID: 518, Name: Bob, Price: 30.0
ID: 519, Name: Diana, Price: 22.0
ID: 520, Name: John, Price: 28.0
ID: 521, Name: Alice, Price: 24.0
ID: 522, Name: Bob, Price: 30.0
ID: 523, Name: Diana, Price: 22.0
ID: 524, Name: John, Price: 28.0
ID: 525, Name: Alice, Price: 24.0
ID: 526, Name: Bob, Price: 30.0
ID: 527, Name: Diana, Price: 22.0
ID: 528, Name: John, Price: 28.0
ID: 529, Name: Alice, Price: 24.0
ID: 530, Name: Bob, Price: 30.0
ID: 531, Name: Diana, Price: 22.0
ID: 532, Name: John, Price: 28.0
ID: 533, Name: Alice, Price: 24.0
ID: 534, Name: Bob, Price: 30.0
ID: 535, Name: Diana, Price: 22.0
ID: 536, Name: John, Price: 28.0
ID: 537, Name: Alice, Price: 24.0
ID: 538, Name: Bob, Price: 30.0
ID: 539, Name: Diana, Price: 22.0
ID: 540, Name: John, Price: 28.0
ID: 541, Name: Alice, Price: 24.0
ID: 542, Name: Bob, Price: 30.0
ID: 543, Name: Diana, Price: 22.0
ID: 544, Name: John, Price: 28.0
ID: 545, Name: Alice, Price: 24.0
ID: 546, Name: Bob, Price: 30.0
ID: 547, Name: Diana, Price: 22.0
ID: 548, Name: John, Price: 28.0
ID: 549, Name: Alice, Price: 24.0
ID: 550, Name: Bob, Price: 30.0
ID: 551, Name: Diana, Price: 22.0
ID: 552, Name: John, Price: 28.0
ID: 553, Name: Alice, Price: 24.0
ID: 554, Name: Bob, Price: 30.0
ID: 555, Name: Diana, Price: 22.0
ID: 556, Name: John, Price: 28.0
ID: 557, Name: Alice, Price: 24.0
ID: 558, Name: Bob, Price: 30.0
ID: 559, Name: Diana, Price: 22.0
ID: 560, Name: John, Price: 28.0
ID: 561, Name: Alice, Price: 24.0
ID: 562, Name: Bob, Price: 30.0
ID: 563, Name: Diana, Price: 22.0
ID: 564, Name: John, Price: 28.0
ID: 565, Name: Alice, Price: 24.0
ID: 566, Name: Bob, Price: 30.0
ID: 567, Name: Diana, Price: 22.0
ID: 568, Name: John, Price: 28.0
ID: 569, Name: Alice, Price: 24.0
ID: 570, Name: Bob, Price: 30.0
ID: 571, Name: Diana, Price: 22.0
ID: 572, Name: John, Price: 28.0
ID: 573, Name: Alice, Price: 24.0
ID: 574, Name: Bob, Price: 30.0
ID: 575, Name: Diana, Price: 22.0
ID: 576, Name: John, Price: 28.0
ID: 577, Name: Alice, Price: 24.0
ID: 578, Name: Bob, Price: 30.0
ID: 579, Name: Diana, Price: 22.0
ID: 580, Name: John, Price: 28.0
ID: 581, Name: Alice, Price: 24.0
ID: 582, Name: Bob, Price: 30.0
ID: 583, Name: Diana, Price: 22.0
ID: 584, Name: John, Price: 28.0
ID: 585, Name: Alice, Price: 24.0
ID: 586, Name: Bob, Price: 30.0
ID: 587, Name: Diana, Price: 22.0
ID: 588, Name: John, Price: 28.0
ID: 589, Name: Alice, Price: 24.0
ID: 590, Name: Bob, Price: 30.0
ID: 1, Name: None, Price: 1200.0

C:\Users\mfrch\AppData\Local\Temp\ipykernel_35180\2863472967.py:7: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  item = session.query(Item).get(1)

ID: 1, Name: None, Price: 1200.0
ID: 300, Name: Alicia, Price: 28.0
ID: 301, Name: None, Price: 24.0
ID: 302, Name: Julio, Price: 30.0
ID: 304, Name: John, Price: 28.0
ID: 305, Name: Alice, Price: 24.0
ID: 306, Name: Bob, Price: 30.0
ID: 307, Name: Diana, Price: 22.0
ID: 308, Name: John, Price: 28.0
ID: 309, Name: Alice, Price: 24.0
ID: 310, Name: Bob, Price: 30.0
ID: 311, Name: Diana, Price: 22.0
ID: 312, Name: John, Price: 28.0
ID: 313, Name: Alice, Price: 24.0
ID: 314, Name: Bob, Price: 30.0
ID: 315, Name: Diana, Price: 22.0
ID: 316, Name: John, Price: 28.0
ID: 317, Name: Alice, Price: 24.0
ID: 318, Name: Bob, Price: 30.0
ID: 319, Name: Diana, Price: 22.0
ID: 320, Name: John, Price: 28.0
ID: 321, Name: Alice, Price: 24.0
ID: 322, Name: Bob, Price: 30.0
ID: 323, Name: Diana, Price: 22.0
ID: 324, Name: John, Price: 28.0
ID: 325, Name: Alice, Price: 24.0
ID: 326, Name: Bob, Price: 30.0
ID: 327, Name: Diana, Price: 22.0
ID: 328, Name: John, Price: 28.0
ID: 329, Name: Alice, Price: 24.0
ID: 330, Name: Bob, Price: 30.0
ID: 331, Name: Diana, Price: 22.0
ID: 332, Name: John, Price: 28.0
ID: 333, Name: Alice, Price: 24.0
ID: 334, Name: Bob, Price: 30.0
ID: 335, Name: Diana, Price: 22.0
ID: 336, Name: John, Price: 28.0
ID: 337, Name: Alice, Price: 24.0
ID: 338, Name: Bob, Price: 30.0
ID: 339, Name: Diana, Price: 22.0
ID: 340, Name: John, Price: 28.0
ID: 341, Name: Alice, Price: 24.0
ID: 342, Name: Bob, Price: 30.0
ID: 343, Name: Diana, Price: 22.0
ID: 344, Name: John, Price: 28.0
ID: 345, Name: Alice, Price: 24.0
ID: 346, Name: Bob, Price: 30.0
ID: 347, Name: Diana, Price: 22.0
ID: 348, Name: John, Price: 28.0
ID: 349, Name: Alice, Price: 24.0
ID: 350, Name: Bob, Price: 30.0
ID: 351, Name: Diana, Price: 22.0
ID: 352, Name: John, Price: 28.0
ID: 353, Name: Alice, Price: 24.0
ID: 354, Name: Bob, Price: 30.0
ID: 355, Name: Diana, Price: 22.0
ID: 356, Name: John, Price: 28.0
ID: 357, Name: Alice, Price: 24.0
ID: 358, Name: Bob, Price: 30.0
ID: 359, Name: Diana, Price: 22.0
ID: 360, Name: John, Price: 28.0
ID: 361, Name: Alice, Price: 24.0
ID: 362, Name: Bob, Price: 30.0
ID: 363, Name: Diana, Price: 22.0
ID: 364, Name: John, Price: 28.0
ID: 365, Name: Alice, Price: 24.0
ID: 366, Name: Bob, Price: 30.0
ID: 367, Name: Diana, Price: 22.0
ID: 368, Name: John, Price: 28.0
ID: 369, Name: Alice, Price: 24.0
ID: 370, Name: Bob, Price: 30.0
ID: 371, Name: Diana, Price: 22.0
ID: 372, Name: John, Price: 28.0
ID: 373, Name: Alice, Price: 24.0
ID: 374, Name: Bob, Price: 30.0
ID: 375, Name: Diana, Price: 22.0
ID: 376, Name: John, Price: 28.0
ID: 377, Name: Alice, Price: 24.0
ID: 378, Name: Bob, Price: 30.0
ID: 379, Name: Diana, Price: 22.0
ID: 380, Name: John, Price: 28.0
ID: 381, Name: Alice, Price: 24.0
ID: 382, Name: Bob, Price: 30.0
ID: 383, Name: Diana, Price: 22.0
ID: 384, Name: John, Price: 28.0
ID: 385, Name: Alice, Price: 24.0
ID: 386, Name: Bob, Price: 30.0
ID: 387, Name: Diana, Price: 22.0
ID: 388, Name: John, Price: 28.0
ID: 389, Name: Alice, Price: 24.0
ID: 390, Name: Bob, Price: 30.0
ID: 391, Name: Diana, Price: 22.0
ID: 392, Name: John, Price: 28.0
ID: 393, Name: Alice, Price: 24.0
ID: 394, Name: Bob, Price: 30.0
ID: 395, Name: Diana, Price: 22.0
ID: 396, Name: John, Price: 28.0
ID: 397, Name: Alice, Price: 24.0
ID: 398, Name: Bob, Price: 30.0
ID: 399, Name: Diana, Price: 22.0
ID: 400, Name: John, Price: 28.0
ID: 401, Name: Alice, Price: 24.0
ID: 402, Name: Bob, Price: 30.0
ID: 403, Name: Diana, Price: 22.0
ID: 404, Name: John, Price: 28.0
ID: 405, Name: Alice, Price: 24.0
ID: 406, Name: Bob, Price: 30.0
ID: 407, Name: Diana, Price: 22.0
ID: 408, Name: John, Price: 28.0
ID: 409, Name: Alice, Price: 24.0
ID: 410, Name: Bob, Price: 30.0
ID: 411, Name: Diana, Price: 22.0
ID: 412, Name: John, Price: 28.0
ID: 413, Name: Alice, Price: 24.0
ID: 414, Name: Bob, Price: 30.0
ID: 415, Name: Diana, Price: 22.0
ID: 416, Name: John, Price: 28.0
ID: 417, Name: Alice, Price: 24.0
ID: 418, Name: Bob, Price: 30.0
ID: 419, Name: Diana, Price: 22.0
ID: 420, Name: John, Price: 28.0
ID: 421, Name: Alice, Price: 24.0
ID: 422, Name: Bob, Price: 30.0
ID: 423, Name: Diana, Price: 22.0
ID: 424, Name: John, Price: 28.0
ID: 425, Name: Alice, Price: 24.0
ID: 426, Name: Bob, Price: 30.0
ID: 427, Name: Diana, Price: 22.0
ID: 428, Name: John, Price: 28.0
ID: 429, Name: Alice, Price: 24.0
ID: 430, Name: Bob, Price: 30.0
ID: 431, Name: Diana, Price: 22.0
ID: 432, Name: John, Price: 28.0
ID: 433, Name: Alice, Price: 24.0
ID: 434, Name: Bob, Price: 30.0
ID: 435, Name: Diana, Price: 22.0
ID: 436, Name: John, Price: 28.0
ID: 437, Name: Alice, Price: 24.0
ID: 438, Name: Bob, Price: 30.0
ID: 439, Name: Diana, Price: 22.0
ID: 440, Name: John, Price: 28.0
ID: 441, Name: Alice, Price: 24.0
ID: 442, Name: Bob, Price: 30.0
ID: 443, Name: Diana, Price: 22.0
ID: 444, Name: John, Price: 28.0
ID: 445, Name: Alice, Price: 24.0
ID: 446, Name: Bob, Price: 30.0
ID: 447, Name: Diana, Price: 22.0
ID: 448, Name: John, Price: 28.0
ID: 449, Name: Alice, Price: 24.0
ID: 450, Name: Bob, Price: 30.0
ID: 451, Name: Diana, Price: 22.0
ID: 452, Name: John, Price: 28.0
ID: 453, Name: Alice, Price: 24.0
ID: 454, Name: Bob, Price: 30.0
ID: 455, Name: Diana, Price: 22.0
ID: 456, Name: John, Price: 28.0
ID: 457, Name: Alice, Price: 24.0
ID: 458, Name: Bob, Price: 30.0
ID: 459, Name: Diana, Price: 22.0
ID: 460, Name: John, Price: 28.0
ID: 461, Name: Alice, Price: 24.0
ID: 462, Name: Bob, Price: 30.0
ID: 463, Name: Diana, Price: 22.0
ID: 464, Name: John, Price: 28.0
ID: 465, Name: Alice, Price: 24.0
ID: 466, Name: Bob, Price: 30.0
ID: 467, Name: Diana, Price: 22.0
ID: 468, Name: John, Price: 28.0
ID: 469, Name: Alice, Price: 24.0
ID: 470, Name: Bob, Price: 30.0
ID: 471, Name: Diana, Price: 22.0
ID: 472, Name: John, Price: 28.0
ID: 473, Name: Alice, Price: 24.0
ID: 474, Name: Bob, Price: 30.0
ID: 475, Name: Diana, Price: 22.0
ID: 476, Name: John, Price: 28.0
ID: 477, Name: Alice, Price: 24.0
ID: 478, Name: Bob, Price: 30.0
ID: 479, Name: Diana, Price: 22.0
ID: 480, Name: John, Price: 28.0
ID: 481, Name: Alice, Price: 24.0
ID: 482, Name: Bob, Price: 30.0
ID: 483, Name: Diana, Price: 22.0
ID: 484, Name: John, Price: 28.0
ID: 485, Name: Alice, Price: 24.0
ID: 486, Name: Bob, Price: 30.0
ID: 487, Name: Diana, Price: 22.0
ID: 488, Name: John, Price: 28.0
ID: 489, Name: Alice, Price: 24.0
ID: 490, Name: Bob, Price: 30.0
ID: 491, Name: Diana, Price: 22.0
ID: 492, Name: John, Price: 28.0
ID: 493, Name: Alice, Price: 24.0
ID: 494, Name: Bob, Price: 30.0
ID: 495, Name: Diana, Price: 22.0
ID: 496, Name: John, Price: 28.0
ID: 497, Name: Alice, Price: 24.0
ID: 498, Name: Bob, Price: 30.0
ID: 499, Name: Diana, Price: 22.0
ID: 500, Name: John, Price: 28.0
ID: 501, Name: Alice, Price: 24.0
ID: 502, Name: Bob, Price: 30.0
ID: 503, Name: Diana, Price: 22.0
ID: 504, Name: John, Price: 28.0
ID: 505, Name: Alice, Price: 24.0
ID: 506, Name: Bob, Price: 30.0
ID: 507, Name: Diana, Price: 22.0
ID: 508, Name: John, Price: 28.0
ID: 509, Name: Alice, Price: 24.0
ID: 510, Name: Bob, Price: 30.0
ID: 511, Name: Diana, Price: 22.0
ID: 512, Name: John, Price: 28.0
ID: 513, Name: Alice, Price: 24.0
ID: 514, Name: Bob, Price: 30.0
ID: 515, Name: Diana, Price: 22.0
ID: 516, Name: John, Price: 28.0
ID: 517, Name: Alice, Price: 24.0
ID: 518, Name: Bob, Price: 30.0
ID: 519, Name: Diana, Price: 22.0
ID: 520, Name: John, Price: 28.0
ID: 521, Name: Alice, Price: 24.0
ID: 522, Name: Bob, Price: 30.0
ID: 523, Name: Diana, Price: 22.0
ID: 524, Name: John, Price: 28.0
ID: 525, Name: Alice, Price: 24.0
ID: 526, Name: Bob, Price: 30.0
ID: 527, Name: Diana, Price: 22.0
ID: 528, Name: John, Price: 28.0
ID: 529, Name: Alice, Price: 24.0
ID: 530, Name: Bob, Price: 30.0
ID: 531, Name: Diana, Price: 22.0
ID: 532, Name: John, Price: 28.0
ID: 533, Name: Alice, Price: 24.0
ID: 534, Name: Bob, Price: 30.0
ID: 535, Name: Diana, Price: 22.0
ID: 536, Name: John, Price: 28.0
ID: 537, Name: Alice, Price: 24.0
ID: 538, Name: Bob, Price: 30.0
ID: 539, Name: Diana, Price: 22.0
ID: 540, Name: John, Price: 28.0
ID: 541, Name: Alice, Price: 24.0
ID: 542, Name: Bob, Price: 30.0
ID: 543, Name: Diana, Price: 22.0
ID: 544, Name: John, Price: 28.0
ID: 545, Name: Alice, Price: 24.0
ID: 546, Name: Bob, Price: 30.0
ID: 547, Name: Diana, Price: 22.0
ID: 548, Name: John, Price: 28.0
ID: 549, Name: Alice, Price: 24.0
ID: 550, Name: Bob, Price: 30.0
ID: 551, Name: Diana, Price: 22.0
ID: 552, Name: John, Price: 28.0
ID: 553, Name: Alice, Price: 24.0
ID: 554, Name: Bob, Price: 30.0
ID: 555, Name: Diana, Price: 22.0
ID: 556, Name: John, Price: 28.0
ID: 557, Name: Alice, Price: 24.0
ID: 558, Name: Bob, Price: 30.0
ID: 559, Name: Diana, Price: 22.0
ID: 560, Name: John, Price: 28.0
ID: 561, Name: Alice, Price: 24.0
ID: 562, Name: Bob, Price: 30.0
ID: 563, Name: Diana, Price: 22.0
ID: 564, Name: John, Price: 28.0
ID: 565, Name: Alice, Price: 24.0
ID: 566, Name: Bob, Price: 30.0
ID: 567, Name: Diana, Price: 22.0
ID: 568, Name: John, Price: 28.0
ID: 569, Name: Alice, Price: 24.0
ID: 570, Name: Bob, Price: 30.0
ID: 571, Name: Diana, Price: 22.0
ID: 572, Name: John, Price: 28.0
ID: 573, Name: Alice, Price: 24.0
ID: 574, Name: Bob, Price: 30.0
ID: 575, Name: Diana, Price: 22.0
ID: 576, Name: John, Price: 28.0
ID: 577, Name: Alice, Price: 24.0
ID: 578, Name: Bob, Price: 30.0
ID: 579, Name: Diana, Price: 22.0
ID: 580, Name: John, Price: 28.0
ID: 581, Name: Alice, Price: 24.0
ID: 582, Name: Bob, Price: 30.0
ID: 583, Name: Diana, Price: 22.0
ID: 584, Name: John, Price: 28.0
ID: 585, Name: Alice, Price: 24.0
ID: 586, Name: Bob, Price: 30.0
ID: 587, Name: Diana, Price: 22.0
ID: 588, Name: John, Price: 28.0
ID: 589, Name: Alice, Price: 24.0
ID: 590, Name: Bob, Price: 30.0

In [156]:
from sqlalchemy import text
# Queries directos
# Obtener todos los usuarios
select_query = text("SELECT * FROM personas")

# Crear una sesiÃ³n
Session = sessionmaker(bind=engine)
session = Session()
result = session.execute(select_query)
for row in result:
    row = row._mapping
    print(f"ID: {row['id']}, Username: {row['Name']}, Email: {row['Age']}")

OperationalError: (pyodbc.OperationalError) ('08S01', '[08S01] [Microsoft][ODBC Driver 17 for SQL Server]TCP Provider: An existing connection was forcibly closed by the remote host.\r\n (10054) (SQLExecDirectW); [08S01] [Microsoft][ODBC Driver 17 for SQL Server]Communication link failure (10054)')
[SQL: SELECT * FROM personas]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [170]:
# pandas a read SQL

import pandas as pd 
cs = f'mssql+pyodbc://{secrets["SQL_USER"]}:{secrets["SQL_PWD"]}@{secrets["SQL_SERVER"]}/{secrets["SQL_DATABASE"]}?driver=ODBC+Driver+17+for+SQL+Server'
sqlite_engine = create_engine(cs)
# Definir la consulta SQL 
query = "SELECT Nombres FROM personas2 where Nombres like '%Linda%'" 
# Leer los datos a un DataFrame 
df_final = pd.read_sql(query, sqlite_engine) # Mostrar el DataFrame 
print (df_final.info)

<bound method DataFrame.info of        Nombres
0  Linda Garza>

In [172]:
print (df_final.head())

       Nombres
0  Linda Garza