In [1]:
import pandas as pd

data = {'Mineral': ['A','B','C','D'],
        'Concentracion':[10,20,30,40]}

df = pd.DataFrame(data)
print (df['Mineral'], df['Concentracion'])

0    A
1    B
2    C
3    D
Name: Mineral, dtype: object 0    10
1    20
2    30
3    40
Name: Concentracion, dtype: int64

In [2]:
serie = pd.Series(df['Concentracion'])

#print (serie['Mineral'])#
print (serie)
print (serie.mean())
print (serie + 5)
print (serie.index)
print (serie.values[2])

0    10
1    20
2    30
3    40
Name: Concentracion, dtype: int64
25.0
0    15
1    25
2    35
3    45
Name: Concentracion, dtype: int64
RangeIndex(start=0, stop=4, step=1)
30

In [18]:
df = pd.read_csv('datapersonas.csv')
print(df.head())
print(df.tail(15))

    Name  Age  Height  Weight
0   John   28     175      70
1  Alice   24     160      55
2    Bob   30     180      80
3  Diana   22     165      60
4   John   28     175      70
      Name  Age  Height  Weight
273  Alice   24     160      55
274    Bob   30     180      80
275  Diana   22     165      60
276   John   28     175      70
277  Alice   24     160      55
278    Bob   30     180      80
279  Diana   22     165      60
280   John   28     175      70
281  Alice   24     160      55
282    Bob   30     180      80
283  Diana   22     165      60
284   John   28     175      70
285  Alice   24     160      55
286    Bob   30     180      80
287  Diana   22     165      60

In [4]:
#df = pd.read_csv('data.csv')
#df.head()

   Age  Height  Weight
0   28     175      70
1   24     160      55
2   30     180      80
3   22     165      60

In [20]:
my_stats = df.describe()
print (my_stats)

              Age      Height      Weight
count  288.000000  288.000000  288.000000
mean    26.000000  170.000000   66.250000
std      3.167782    7.919455    9.618145
min     22.000000  160.000000   55.000000
25%     23.500000  163.750000   58.750000
50%     26.000000  170.000000   65.000000
75%     28.500000  176.250000   72.500000
max     30.000000  180.000000   80.000000

In [24]:
df.info

<bound method DataFrame.info of       Name  Age  Height  Weight
0     John   28     175      70
1    Alice   24     160      55
2      Bob   30     180      80
3    Diana   22     165      60
4     John   28     175      70
..     ...  ...     ...     ...
283  Diana   22     165      60
284   John   28     175      70
285  Alice   24     160      55
286    Bob   30     180      80
287  Diana   22     165      60

[288 rows x 4 columns]>

In [28]:
fila = df.loc[1]
print (fila)
mfila = df.loc[1,['Height','Age']]
print (mfila)

Name      Alice
Age          24
Height      160
Weight       55
Name: 1, dtype: object
Height    160
Age        24
Name: 1, dtype: object

In [30]:
fila = df.iloc[1]
print (fila)
mfila = df.iloc[1,[0,3]]
print (mfila)

Name      Alice
Age          24
Height      160
Weight       55
Name: 1, dtype: object
Name      Alice
Weight       55
Name: 1, dtype: object

In [36]:
# Cada copia de un DF
# 
copia = df
df_sin_fila = copia.drop(50)
print(copia.head())
print(df_sin_fila.head())

    Name  Age  Height  Weight
0   John   28     175      70
1  Alice   24     160      55
2    Bob   30     180      80
3  Diana   22     165      60
4   John   28     175      70
    Name  Age  Height  Weight
0   John   28     175      70
1  Alice   24     160      55
2    Bob   30     180      80
3  Diana   22     165      60
4   John   28     175      70

In [40]:
mod = df.groupby('Name')
print (mod)
print (mod.size())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000258B5624D10>
Name
Alice    72
Bob      72
Diana    72
John     72
dtype: int64

In [44]:
df1 = df
df2 = df
df_merge = pd.merge(df,df2, on='Name')
print(df_merge.head())

   Name  Age_x  Height_x  Weight_x  Age_y  Height_y  Weight_y
0  John     28       175        70     28       175        70
1  John     28       175        70     28       175        70
2  John     28       175        70     28       175        70
3  John     28       175        70     28       175        70
4  John     28       175        70     28       175        70

In [64]:
df_short = pd.read_csv('data.csv')
print (df_short.head())
df_fix1 = df_short.fillna(0)
print (df_fix1.head())
df_fix2 = df_short

df_fix2['Age'] = df_fix2['Age'].fillna(df_fix2['Age'].mean())
df_fix3 = df_fix2.copy()
df_fix3['Name'] = df_fix3['Name'].fillna('Desconocido')
print (df_fix3.head())
print (df_fix3.sort_values(by='Weight'))

     Name   Age  Height  Weight
0  Alicia  28.0     NaN    70.0
1     NaN  24.0   160.0    55.0
2   Julio  30.0   180.0     NaN
3   Ronny   NaN    60.0   165.0
     Name   Age  Height  Weight
0  Alicia  28.0     0.0    70.0
1       0  24.0   160.0    55.0
2   Julio  30.0   180.0     0.0
3   Ronny   0.0    60.0   165.0
          Name        Age  Height  Weight
0       Alicia  28.000000     NaN    70.0
1  Desconocido  24.000000   160.0    55.0
2        Julio  30.000000   180.0     NaN
3        Ronny  27.333333    60.0   165.0
          Name        Age  Height  Weight
1  Desconocido  24.000000   160.0    55.0
0       Alicia  28.000000     NaN    70.0
3        Ronny  27.333333    60.0   165.0
2        Julio  30.000000   180.0     NaN

In [66]:
df_fix3.to_csv('dffix3.csv')

In [88]:
df_short = pd.read_csv('data.csv')
moda = df_short['Name'].mode()
print (moda)
print (type(moda))
print (moda[0])
print (df_short)
print (df_short['Name'].mean())
print (df_short['Name'].median())
print (df_short['Name'].std())
print (df_short['Name'].var())

0    Alicia
1     Julio
2     Ronny
Name: Name, dtype: object
<class 'pandas.core.series.Series'>
Alicia
     Name   Age  Height  Weight
0  Alicia  28.0     NaN      75
1     NaN  24.0   160.0    1655
2   Julio  30.0   180.0     702
3   Ronny   NaN    60.0     165

TypeError: can only concatenate str (not "int") to str