In [11]:
print ("Hola Mundo... Ctrl + Enter")

Hola Mundo... Ctrl + Enter

In [1]:
x = 10
y = 15
z = x + y
print (z)

25

In [3]:
v = True
f = False

In [25]:
l = [1,2,3,"cuatro",5.0] # Crea una lista
print (l)
print (l[0])
ss = {1,2,3,4,5.0} # Crea un set
print (s)
t = (1,2,3,"cuatro",5.0) # Crea una tupla
print (t)
print (t[2])
d = {"a":1,"b":2,"c":3} # Crea un diccionario.
print (d)
print (d["a"])

[1, 2, 3, 'cuatro', 5.0]
1
{1, 2, 3, 5.0, 'cuatro'}
(1, 2, 3, 'cuatro', 5.0)
3
{'a': 1, 'b': 2, 'c': 3}
1

In [41]:
x = 255
print ( bin(x))
print ( hex(x))
b = bin(x)
print (int(hex(x),16)) # Con base del origen
#print (int(b))

type(b)

0b11111111
0xff
255

str

# Ejemplo de conversion de tipos
- Un ejemplo para cada tipo de datos
- int
- float
- string

In [53]:
# Convertir entre tipos.
numero = 200

f = float(numero)
print (type (f)) # Type indica el tipo de datos que estamos almacenando en la variable
print(f)

s = str (f)
print (type (s))
print (s)

i = int (float(s))
i2 = int (f)

print (type (i))
print (i)
print (type (i2))
print (i2)

<class 'float'>
200.0
<class 'str'>
200.0
<class 'int'>
200
<class 'int'>
200

In [71]:
# Mutabilidad
l = [1,2,3,4,5] # N - 1. El indice empieza con 0
print (l)
l[0] = 10
l.append(4)
print (l)
l = l + [1] # Union de 2 listas.
print (l)
# Equivalente a
l1 = [1,23,4]
l2 = [3,45,5]
l3 = l1 + l2 #unir listas
print (l3)
l1[0]=2
print (l3)
print (l1)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 4]
[10, 2, 3, 4, 5, 4, 1]
[1, 23, 4, 3, 45, 5]
[1, 23, 4, 3, 45, 5]
[2, 23, 4]

In [83]:
# Innmutable

t = (10,23,42,23)
#t[0]=1 #  'tuple' object does not support item assignment
#t.append(10) #  'tuple' object has no attribute 'append'

# Trabajar con Uniones
t = t + (1,2)
print (t)

(10, 23, 42, 23, 1, 2)

In [93]:
dic = { "a":1,"b":"abcd"}
print (dic["a"])
print (dic["b"])

l = list (dic.items())
print(l)
print (dic.keys())
print (dic.values())

1
abcd
[('a', 1), ('b', 'abcd')]
dict_keys(['a', 'b'])
dict_values([1, 'abcd'])

In [ ]:
# Faltan los sets ... Esperar un poco

In [133]:
# Slicing
# inicio:fin:step
cadena = "Hola Mundo"
print (cadena[0:4])
print(cadena[::2])
print (cadena[::-1])

l = [1,2,3,4,5] # N - 1. El indice empieza con 0
print (l[0:4])
print(l[::2])
print (l[::-1])

Hola
Hl ud
odnuM aloH
[1, 2, 3, 4]
[1, 3, 5]
[5, 4, 3, 2, 1]

In [137]:
# Concatenacion con +
v1 = "Hola"
v2 = "Mundo"
v3 = v1 + " " + v2
print (v3)

Hola Mundo

In [143]:
# Concatenacion con Join
separador = ", "
print (separador.join({v1,v2,v3}))

Mundo, Hola, Hola Mundo

In [155]:
# Concatenacion con Format
print ( "{}, {}!".format((v1,v2),(v1,v2)))

('Hola', 'Mundo'), ('Hola', 'Mundo')!

In [157]:
print (f"{v1},{v2}!")

Hola,Mundo!

In [163]:
 # Â¿ Input ?
print (input("Recibir valor\n"))

Recibir valor
 super

super

In [ ]:
dic = [{ "Nombre":1,"Apellido":"abcd", "Nomin":"", "F":""},{ "Nombre":1,"Apellido":"abcd", "Nomin":"", "F":""}]

In [189]:
class Persona:
    def __init__ (self, nombre, apellido, nomina, fecha):
        self.nombre = nombre
        self.apellido = apellido
        self.nomina = nomina
        self.__fecha = fecha
    def getFecha(self):
        return self.__fecha

In [191]:
var = Persona("Moises","Chirinos","1","2020-01-01")

In [193]:
print (f"{var.nombre}, {var.apellido}, {var.getFecha()}")

Moises, Chirinos, 2020-01-01